{% extends 'index.html' %}

{% block content %}
<main>
    
    <section>
        
        <h2>Tamil</h2>
        

        <div class="game-list">
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam1' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
                
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam2' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam3' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam4' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam5' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam6' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam7' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tam8' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            <div class="game">
                <a class="btn btn-primary" href="{% url 'tamtest' %}">
                    <img src="https://raw.githubusercontent.com/manokaran007/i/main/Slide5.png" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            
        </div>

    </section>

</main>

{% endblock %}
