{% extends 'comind.html' %}

{% block content %}
<body>
    <main>

    
    <section>
        <h2>Introduction</h2>
        <p>A computer is an electronic device that processes data to perform various tasks. It can store, retrieve, and process information, making it a versatile tool for both personal and professional use.</p>
        <h2>Components of a Computer</h2>
        <p>A computer consists of several key components, including:
        
            Central Processing Unit (CPU)
            Memory (RAM)
            Storage (Hard Drive, SSD)
            Input Devices (Keyboard, Mouse)
            Output Devices (Monitor, Printer)
            Motherboard
            Graphics Processing Unit (GPU)</p>
        
   
    <br>
 
    


<video width="80" height="140" controls>
    <source src="https://github.com/manokaran007/Coursevideos/raw/main/Computer/Basics of Computers _ Basic Knowledge of Computer _ Introduction to Computers [ Animtion ](720P_HD).mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<h2>Computational Efficiency</h2>
    <p>A computer is a remarkable machine capable of performing numerous tasks swiftly and accurately without making errors. Its computational efficiency is unparalleled, enabling it to handle complex calculations and processes with ease.</p>


<h2>Multitasking Abilities</h2>
<p>One of the key strengths of a computer is its multitasking capabilities. As an electronic multitasking machine, it can manage multiple tasks simultaneously, executing each one quickly and accurately. This versatility makes computers invaluable tools in various fields.</p>

<h2>Endurance and Consistency</h2>
<p>Unlike humans, who can experience fatigue and boredom, a computer operates tirelessly and consistently. It never tires of repetitive tasks or becomes disinterested in its duties, making it a reliable and efficient workhorse for both simple and complex operations.</p>

<h2>Compact Portability</h2>
<p>Computing devices come in various forms to suit different needs. Desktop computers, while not easily portable, are sturdy workstations commonly found in offices and educational institutions, providing reliable performance for stationary tasks.</p>

<p>Laptops, on the other hand, offer the convenience of portability. Resembling small briefcases, they allow users to carry computing power wherever they go, making them ideal for professionals and students who need to work on the move.</p>

<p>For ultimate portability, palmtop computers are designed to fit in the palm of your hand or conveniently slip into a pocket. Despite their small size, they pack impressive computing capabilities, catering to users who prioritize mobility and compactness.</p>

</section>
</main>


</body>


{% endblock %}
