{% extends 'comind.html' %}

{% block content %}
<body>
    
<main>
    <section>
        <h2>Introduction</h2>
        <p>A computer is an electronic device that processes data to perform various tasks. It can store, retrieve, and process information, making it a versatile tool for both personal and professional use.</p>
        <h2>Components of a Computer</h2>
        <p>A computer consists of several key components, including:
        
            Central Processing Unit (CPU)
            Memory (RAM)
            Storage (Hard Drive, SSD)
            Input Devices (Keyboard, Mouse)
            Output Devices (Monitor, Printer)
            Motherboard
            Graphics Processing Unit (GPU)</p>

            <video width="80" height="140" controls>
                <source src="https://github.com/manokaran007/Coursevideos/raw/main/Computer/Basics of Computers _ History of Computer by Generation _ Computer Evolution [ Animation ](720P_HD).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        
    </section>

</main>
    

  
</body>


{% endblock %}

