{% extends 'index.html' %}

{% block content %}
<main>
    
    <section>
        
        <h2>Computer</h2>

        <div class="game-list">
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'com1' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
                
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'com2' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide2.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'com3' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide3.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'com4' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide4.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'com5' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide5.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'com6' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide6.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'com7' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide7.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'com8' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Computer/Slide8.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
                 
            </div>
            <div class="game">
                <a class="btn btn-primary" href="{% url 'comtest' %}">
                    <img src="https://raw.githubusercontent.com/manokaran007/i/main/Slide5.png" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
                 
            </div>
            
        </div>

    </section>

</main>

{% endblock %}
