{% extends 'index.html' %}

{% block content %}
<main>
    
    <section>
        
        <h2>English</h2>
        

        <div class="game-list">
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng1' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
                
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng2' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide2.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng3' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide3.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng4' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide4.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng5' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide5.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng6' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide6.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng7' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide7.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'eng8' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/English/Slide8.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'engtest' %}">
                    <img src="https://raw.githubusercontent.com/manokaran007/i/main/Slide5.png" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
        </div>

    </section>

</main>

{% endblock %}
