{% extends 'index.html' %}

{% block content %}
<main>
    
    <section>
        
        <h2>Maths</h2>
        

        <div class="game-list">
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat1' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide1.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
                
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat2' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide2.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat3' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide3.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat4' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide4.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat5' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide5.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>

            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat6' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide6.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat7' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide7.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mat8' %}">
                    <img src="https://github.com/manokaran007/img/raw/main/Maths/Slide8.JPG" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
            <div class="game">
                <a class="btn btn-primary" href="{% url 'mattest' %}">
                    <img src="https://raw.githubusercontent.com/manokaran007/i/main/Slide5.png" class="img-responsive img-rounded my-image" width="550" height="200">
                </a>
            </div>
            
        </div>

    </section>

</main>

{% endblock %}
